<!DOCTYPE html>
<%- include('partials/header'); -%>


  <nav>
    <h2>Books of <%=user.email%></h2>
  </nav>

  <header>
    <h2>Total Books: <span id="totalBooks">0</span></h2>
  </header>

  <section class="filters">

    <label for="statusFilter">Filter by Status:</label>
    <select id="statusFilter">
      <option value="all">All</option>
      <option value="completed">Completed</option>
      <option value="in-progress">In Progress</option>
    </select>
    

    <label for="genreFilter">Genre:</label>
      <select id="genreFilter" name="genre" required>
      <option value="All">All</option>
      <option value="Fiction">Fiction</option>
      <option value="Non-Fiction">Non-Fiction</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Fantasy">Fantasy</option>
      <option value="History">History</option>
      <option value="Biography">Biography</option>
      <option value="Self-Improvement">Self-Improvement</option>
      <option value="Other">Other</option>
      </select>

    <a href = '/add-book' class="btn addBook">Add Book</a>
    
  </section>

  <section class="books">
    <% books.map((book)=>{ %>
        <div class="book" id="<%=book._id%>">
          <h1><%=book.title%></h1>
          <h3>By <%=book.author%></h3>
          <p >Genre: <span id = 'bookGenre'><%=book.genre%></span></p>
          <p>Pages: <span><%=book.pagesRead%> / <%=book.totalPages%></span></p>
          <p>Rating: <span><%=book.rating%></span></p>
          <p>Remarks: <span><%=book.remarks%></span></p>

          <div class="actions">
            <button class="btn updateButton" book-id = "<%=book._id%>">Update</button>
            <button class="btn deleteButton" book-id = "<%=book._id%>">Delete</button>
          </div>
        </div>
    <%})%>
  </section>

  <script>
    const userTotalBooks = "<%=user.TotalBooks%>".split(',')
    const userCompletedBooks = "<%=user.CompletedBooks%>".split(',')

    console.log("totalbooks: ",userTotalBooks, typeof(userTotalBooks))
    const statusFilter = document.getElementById('statusFilter');
    const genreFilter = document.getElementById('genreFilter')
    const booksSection = document.querySelectorAll('.book')

    statusFilter.addEventListener('change', (e)=>{
      e.preventDefault()
      const selectedStatus = statusFilter.value
      booksSection.forEach(book=>{
        const bookId = book.getAttribute('id')
        if( (  selectedStatus == 'all' && userTotalBooks.some(id=> id===(bookId))  ) || 
            (  selectedStatus == 'completed' && userTotalBooks.some(id=> id===(bookId)) && userCompletedBooks.some(id=> id===(bookId))  ) || 
            (  selectedStatus == 'in-progress' && userTotalBooks.some(id=> id===(bookId)) && !userCompletedBooks.some(id=> id===(bookId))  ) ) {
              book.style.display = 'block';
        }
        else{
          book.style.display = 'none'
        }
      })
    })


    genreFilter.addEventListener('change',(e)=>{
      e.preventDefault()
      const Selectedgenre = genreFilter.value 
      console.log("Gnre selected: ",Selectedgenre)

      booksSection.forEach(book=>{
       const bookGenre = book.querySelector('p #bookGenre').textContent

        if(Selectedgenre === bookGenre|| Selectedgenre === "All"){
          book.style.display = 'block'
        }
        else{
          book.style.display = 'none'
        }



      })


    })


    const bookSections = document.querySelectorAll(".book")
    const userId = "<%=user.id%>"
    bookSections.forEach(bookInfo=>{
        const bookId = bookInfo.getAttribute('id');
        const bookName = bookInfo.querySelector('h1').textContent
        const bookAuthor = bookInfo.querySelector('h3').textContent.replace('By ','')
        console.log("Inside foreach Deleting Book: ", bookName, " By: ",bookAuthor," Id: ",bookId, " type of bookId",typeof(bookId))


        const delbtn = bookInfo.querySelector(".deleteButton");

        delbtn.addEventListener('click', async (e)=>{
            e.preventDefault()
            console.log("Deleting Book: ", bookName, " By: ",bookAuthor," Id: ",bookId, "typeof BookID",typeof(bookId))
            try{
              const res = await fetch(`/delete/${userId}/${bookId}`,{
                  method: 'DELETE',
              })
              const data = await res.json()
              console.log("data after deleting: ",bookId,data);
              window.location.reload()

            }
            catch(err){
              console.log("Error in myLibrary.ejs line 81")
              console.log(err.message)
            }
        })

        const updtbtn = bookInfo.querySelector('.updateButton')
        updtbtn.addEventListener('click',(e)=>location.assign(`/edit-book/${bookId}`))
    
    
      })






    // const form = document.querySelector('form')
    // const email_error = document.querySelector('.email.error')
    // const password_error = document.querySelector('.password.error')
    // form.addEventListener('submit',async (e)=>{
    //     e.preventDefault()
    //     console.log()
    //     const email = form.email.value
    //     const password = form.password.value

    //     email_error.textContent ='';
    //     password_error.textContent ='';
    //     try{
    //         const res = await fetch('/signup', {
    //             method: 'POST',
    //             body: JSON.stringify({email,password}),
    //             headers: {'Content-Type':'application/json'}
    //         })
    //         const data = await res.json()
    //         console.log("data",data)
    //         if(data.email || data.password){
    //             console.log("Yes there are errors: ",data)
    //             console.log("Email: ",data.email)
    //             console.log("Password: ",data.password)
    //             email_error.textContent = data.email
    //             password_error.textContent = data.password
                
    //         }
    //         if(data.user){
    //             location.assign('/')
    //         }
    //     }
    //     catch(err){
    //         console.log(err)
    //     }
    // })


  </script>



<%- include('partials/footer'); -%>